@use "breakpoints" as *;

html {
  background-color: var(--color-bg);
  font-size: var(--base-font-size);
  scroll-behavior: smooth;
  scroll-padding-block-start: var(--space-lg);
}

body {
  color: var(--color-text);
  font-family: var(--font-sans);
  font-size: var(--font-size-0);
  line-height: 1.444;
  margin: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
  margin-block-start: calc(var(--space-lg) + var(--space-2xs));
}

h1 {
  font-size: var(--font-size-4);
  font-weight: 800;
  line-height: 1.1;

  @media (min-width: $bp-desktop-sm) {
    line-height: 1.05;
  }
}

h2 {
  font-size: var(--font-size-3);
  font-weight: 800;
  line-height: 1.1;

  @media (min-width: $bp-desktop-sm) {
    line-height: 1.05;
  }
}

h3 {
  font-size: var(--font-size-2);
  line-height: 1.1;
}

h4 {
  font-size: var(--font-size-1);
  line-height: 1.2;
}

h5 {
  font-size: var(--font-size-0);
  line-height: 1.35;
}

::selection,
::-moz-selection {
  // background-color: ;
  // color: ;
}
