.btn {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  background-color: var(--color-text);
  color: var(--color-bg);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover,
  &:focus-visible {
    background-color: color-mix(in srgb, var(--color-text) 50%, transparent);
  }
}

.btn--red {
  background-color: var(--color-red);
  color: var(--color-text);

  &:hover,
  &:focus-visible {
    background-color: var(--color-red-hover);
  }
}
